<!DOCTYPE html>
<html>

<head>
	<title>About us Page</title>
</head>
<body>
	<nav class="navbar background">
		<ul class="nav-list">
			<div class="logo"><img src=""></div>
			<li><a href="#create-student">Add Student</a></li>
			<li><a href="#update-student">Update Student</a></li>
			<li><a href="#aboutUs">AboutUs</a></li>
			<li><a href="#student-list">Student List</a></li>
		</ul>
		<div class="rightNav">
			<input type="text" name="search" id="search">
			<button class="btn btn-sm">Search</button>
		</div>
	</nav>
	<section class="background firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<p class="text-big"><b>About US</b></p>
				
				<p class="text-small">
					
				</p>
				<br>
				<p class="center"><a href="#Order"
				style="text-decoration:none;color:white;">
						
						works in our Student learning site
                        A student information collection form is a document 
                        used by teachers to collect data about their students. 
                        Collect the information you need from a student management system</a>
				</p>
			</div>
		</div>
	</section>
	<section class="service">
		<h1 class="h-primary center" style="margin-top:30px;text-align:center;">
		
		</h1>
	
	</section>

	<footer class="background"  >
		<p class="text-footer">
			Copyright ©-All rights are reserved
		</p>

	</footer>
</body>

</html>
