<h3 class="center" style="background-color: chocolate;">Student Management System</h3>

<form style="background-color:darkkhaki">
<nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="color: cyan;">
<ul class="navbar-nav">
    <li class="nav-item">
          <a class="nav-link" routerLink="students"><b>List Of Student</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="addstudent">Add Student</a>
</li>
<li class="nav-item">
      <a class="nav-link" routerLink="aboutus">AboutUs</a>
</li>
       </ul>
       

</nav>


<div class="container">
      
      

 <router-outlet></router-outlet>

</div>
</form>
<img src="../assets/images/2.jpg">
